{% extends "base.html" %}

{% block content %}
<!-- Animated Background -->
<div class="bg-gradient"></div>
<div class="bg-grid"></div>

{% include 'components/nav.html' %}
{% include 'components/hero.html' %}
{% include 'components/skills.html' %}
{% include 'components/timeline.html' %}
{% include 'components/projects.html' %}
{% include 'components/learning.html' %}
{% include 'components/about.html' %}
{% include 'components/contact.html' %}
{% include 'components/footer.html' %}
{% endblock %}